<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="myApp">
    <div class="main" ng-controller="myCtrl">
        <form name="myForm">
            <input ng-model="username" type="text" name="userName" ng-required="true">
            <span ng-show="myForm.userName.$dirty && myForm.userName.$invalid">用户名不能为空</span>
            <hr>
            <input ng-model="password" type="password" name="passWrod" ng-required="true">
            <span ng-show="myForm.passWrod.$dirty && myForm.passWrod.$invalid">密码不能为空</span>
            <hr>
            <button ng-click="subimt()">提交</button>
        </form>
    </div>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script>
        angular.module('myApp',[])
                .controller('myCtrl',function($scope){
                   $scope.subimt = function(){
                       console.log($scope);
                   }
                })
    </script>
</body>
</html>