<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-if测试</title>
</head>
<body ng-app="myApp">
<div class="main" ng-controller="myCtrl">
   <button ng-click="changePage('page1')">商品详情</button>
   <button ng-click="changePage('page2')">玩家评价</button>
   <button ng-click="changePage('page3')">家装服务详情</button>
    <div ng-switch on="msg">
        <div ng-switch-default>商品详情页面</div>
        <div ng-switch-when="page2">玩家评价页面</div>
        <div ng-switch-when="page3">服务页面</div>
    </div>

</div>

<script src="src/lib/angular.js"></script>
<script>
    angular.module("myApp",[])
            .controller("myCtrl", function ($scope) {
                $scope.changePage = function (val) {
                  $scope.msg = val;
                }
            })
</script>
</body>
</html>